{% extends 'layout.njk' %}

{% block content %}
  {% block header %}
    <h1>Solution for Day {{dayNumber}}</h1>
  {% endblock %}
  {% block days %}
    <p> Part 1: {{part1}} </p>
    <p> Part 2: {{part2}}</p>
  {% endblock %}
{% endblock %}