{% extends 'layout.njk' %}

{% block content %}
  {% block header %} Welcome to {{title}} {% endblock %}
  {% block days %}
    <table id="solutions_table">
        <tbody>
          </tr>
            <td>JavaScript Soltutions: </td>
            <td>Python Soltutions: </td>
          </tr>
          <td>
            {% for day in days %}
                <table id="inside_table">
                    <td><a href="{{day.path}}">{{day.dayNumber}}</a></td>
                </table>
            {% endfor %}
          </td>
          <td>
            {% for day in python_days %}
                <table id="inside_table">
                    <td><a href="{{day.path}}">{{day.dayNumber}}</a></td>
                </table>
            {% endfor %}
          <td>
        </tbody>
    </table>

  {% endblock %}
{% endblock %}
