{% extends 'layout.njk' %}

{% block content %}
  <h1>{% block header %} Welcome to {{title}} {% endblock %}</h1>
  {% block days %}
    <table>
        <tbody>
            {% for day in days %}
              {% if day.dayNumber % 6 === 0 %}
              <tr></tr>
              {% endif %}
              <td>
                <a href="{{day.path}}"><img src="{{day.img}}" class="day_icon">Day {{day.dayNumber}}</a>
              </td>
            {% endfor %}
        </tbody>
    </table>

  {% endblock %}
{% endblock %}
