body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#solutions_table table {
  padding-left: 20px;
  padding-right: 20px;
}

#inside_table table {
  padding: 2px;
}

